{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">{{ 'Inscription' | trans }}</div>
                    <div class="card-body">
                        <form action="" method="post">
                            {{ form_start(form) }}

                            <div class="form-group">
                                {{ form_row(form.username, {'label': 'Pseudo', 'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.password, {'label': 'Mot de passse', 'attr':{'class': 'form-control'}, 'type': 'password'}) }}
                            </div>

                            <button type="submit" class="btn btn-primary">{{ "S'inscrire" | trans }}</button>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}